data/1.ans filter=lfs diff=lfs merge=lfs -text
data/4.ans filter=lfs diff=lfs merge=lfs -text
data/7.ans filter=lfs diff=lfs merge=lfs -text
data/7.in filter=lfs diff=lfs merge=lfs -text
data/9.ans filter=lfs diff=lfs merge=lfs -text
data/1.in filter=lfs diff=lfs merge=lfs -text
data/2.in filter=lfs diff=lfs merge=lfs -text
data/3.in filter=lfs diff=lfs merge=lfs -text
data/5.in filter=lfs diff=lfs merge=lfs -text
data/6.ans filter=lfs diff=lfs merge=lfs -text
data/6.in filter=lfs diff=lfs merge=lfs -text
data/8.ans filter=lfs diff=lfs merge=lfs -text
data/8.in filter=lfs diff=lfs merge=lfs -text
data/10.in filter=lfs diff=lfs merge=lfs -text
data/2.ans filter=lfs diff=lfs merge=lfs -text
data/3.ans filter=lfs diff=lfs merge=lfs -text
data/4.in filter=lfs diff=lfs merge=lfs -text
data/9.in filter=lfs diff=lfs merge=lfs -text
data/10.ans filter=lfs diff=lfs merge=lfs -text
data/5.ans filter=lfs diff=lfs merge=lfs -text
