*.log
__pycache__
*.zip
release
uoj
noi
pc2
descriptions
statements
result
result*
*.swp
**.swp
*~
**~
.vscode
tmp
bin
log
**.exe
lemon
lemon*
.DS_Store
**.DS_Store
tsinsen-oj*
arbiter*
*.0
*.tmp
**.class
**.pyc
